.graph_container{
    width: 600px;
    margin-top: 110px;
    margin-left: 250px;
}

.Dropdown_div{
    margin-top: 80px;
   margin-left: 230px;
   border-radius: 10px;
}

.input_container{
    margin-left: 440px;
    margin-top: -27px;
}