.detail_card_img {
    width: 400px;
    height: 400px;
    display: flex;
    position: absolute;
    /* border: 1px solid #ccc; */
    margin-top: 130px;
    margin-left:230px ;
    }      

.detail_page{
    max-width: 50%;
    max-height: 50%;
    display: block;
}

.btn_resultPage{
    position: absolute;
    margin-top: 10px;
    margin-left: 50px;
    background-color: rgb(143, 167, 164);
    border: 1px solid teal;
    color:black;
    width: 70px;
    height: 30px;
    border-radius: 10px;
    font-weight: bolder;
    font-size: 15px;
    cursor: pointer;
}

