.Profile_sidebar {
  position:fixed;
  left: 0;
  top: 0;
  width: 250px;
  height: 100vh;
  background-color: #342f2f;
}

.nav_sidebar {
  margin-top: 100px;
  list-style-type: none;
  padding: 0;
}

.nav_sidebar li {
  padding: 10px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.2s;
}

.nav_sidebar li:hover {
  background-color: #beafaf;
  text-decoration: none;
}
